
html {
	display: flex;
	overflow: hidden;
	height: 100%;
	flex-direction: column;
}

body {
	background-color: $grey-darkest;
	color: white;
	margin: 0;
	height: 100%;

	@include applyFontStandards();
}

* {
	box-sizing: border-box;
}

.container {
	padding: $gap;
}

.icon {
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
